*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.search {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  outline: none;
}

.list {
    margin-top: 50px;
  padding-top: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 40px 0px;
  border-spacing: 15px;
  color: #444;
}

tr {
  margin-bottom: 15px;
}

th {
  width: 200px;
  text-align: center;
  font-size: 20px;
}

td {
  width: 250px;
  font-size: 20px;
  text-align: center;
}